body {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareContainer {
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

.square {
    height: 32%;
    width: 32%;
    background-color: rgb(255, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

