body {
    height: 100vh;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #EDEDE9;
    color: #f2e0ce;
}

body * {
    box-sizing: border-box;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: none;
}

/* gameboard --------------------------------------------------------------- gameboard */
.gameboard {
    height: 400px;
    width: 400px;
    background-color: black;
    visibility: visible;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}
    button.square:active {
        background-color: #c9c9c9;
    }
    .square {
        background-color: #EDEDE9;
        color: #313131;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
    }

/* chooseMode ---------------------------------------------------------------------------- */
.chooseMode,
.chooseDifficulty {
    position: absolute;
    visibility: visible;
    height: 400px;
    width: 400px;
    padding: 50px;
    background-color: rgb(158, 158, 158);
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    .chooseMode p,
    .chooseDifficulty p {
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }
    .chooseMode .btnsContainer,
    .chooseDifficulty .btnsContainer {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
    }
    .chooseMode button,
    .chooseDifficulty button{
        height: 100%;
        width: 35%;
        border-radius: 1rem;
        border: 2px solid black;
        font-size: 1.1rem;
        background-color: white;
    }
    .chooseMode button:hover,
    .chooseDifficulty button:hover {
        background-color: rgb(255, 253, 123);
    }
    .chooseMode button:active,
    .chooseDifficulty button:active {
        background-color: rgb(255, 252, 54);
    }

    .chooseMode {
        z-index: 2;
        visibility: hidden;
    }
    .chooseDifficulty {
        z-index: 1;
        visibility: hidden;
    }

/* nav ---------------------------------------------------------------------- nav */
nav {
    background-color: #D6CCC2;
    color: #524f4d;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}
    nav h1 {
        font-size: 5rem;
        text-align: center;
        margin: 0;
    }
    nav .navBtns {
        display: flex;
        max-width: 50%;
        min-width: 300px;
        justify-content: space-between;
    }
        nav .navBtns button {
            width: 100px;
            height: 50px;
            border-radius: 1rem;
            background-color: #EDEDE9;
            color: #414141;
        }
        nav .navBtns button:hover {
            background-color: #f5ffbd;
        }
        nav .navBtns button:active {
            background-color: #d5dda5;
        }


@media only screen and (max-width: 450px) {
    .gameboard,
    .chooseMode,
    .chooseDifficulty {
        height: 300px;
        width: 300px;
    }
    nav {
        height: 150px;
        gap: 10px;
    }
        nav h1 {
            font-size: 3rem;
        }
}

